.breadcrumbs
  = link_to '/' do
    Главная
    %svg.svg-arrow{ aria: { hidden: 'true' }, height: '14', version: '1.1', viewbox: '0 0 6 13', width: '12' }
      %path{ d: 'M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3z', fill: { rule: 'evenodd' }}

  = link_to '/services' do
    Услуги
    %svg.svg-arrow{ aria: { hidden: 'true' }, height: '14', version: '1.1', viewbox: '0 0 6 13', width: '12' }
      %path{ d: 'M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3z', fill: { rule: 'evenodd' }}

  = link_to text, url
