---
title: Электроразведочные работы
keywords: 'Электроразведка, удельное электрическое сопротивление, диэлектрическая проницаемость, геоэлектрический разрез, вертикальное электрозондирование, ВЭЗ, электропрофилирование, ЭП, электротомография, ЭТ, 2D разрез'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Инженерная геофизика', url: '/services#engineering-geophysics' }

  .row.text-center
    %h2 Электроразведочные работы

  .row
    %p Электроразведка предназначена для решения большого круга инженерно-геологических, гидрогеологических и специальных задач и объединяет группу методов разведочной геофизики, основанных на наблюдении и изучении особенностей распределения характеристик электромагнитных полей естественного или искусственного происхождения. Применение электроразведочных методов основано на различии грунтов по электрическим свойствам (удельное электрическое сопротивление, диэлектрическая проницаемость и др.)

  .row.text-center
    %h3 Область применения

  .row
    %p
      %strong Геофизические задачи:

    %p Геофизические исследования в рамках инженерно-геологических изысканий, связанных с проектированием, строительством и эксплуатацией различных сооружений с целью сейсмического микрорайонирования территории.

    %p
      Решение задач, требующих изучения грунтовых условий на глубинах до 100 м.:
      %ul
        %li расчленение разреза на литологические слои;
        %li определение глубины залегания кровли скальных грунтов;
        %li картирование погребенных речных долин;
        %li картирование вечномерзлых грунтов;
        %li выявление и оконтуривание закарстованных зон;
        %li установление и прослеживание тектонических нарушений и зон трещиноватости;
        %li определение положения уровня грунтовых вод, направления и скорости движения подземных вод;
        %li определение коррозионной активности грунтов и наличия блуждающих токов;
        %li изучение оползневых процессов и др.


    %p Электроразведка является ведущим методом комплекса геофизических работ и в зависимости от решаемых задач и инженерно-геологических условий может применяться либо самостоятельно, либо в сочетании с другими геофизическими и инженерно-геологическими методами.

    %p Компания ГЕОФИЗТЕХ специализируется на проведении работ по электроразведке. Объектом исследований обычно является верхняя часть разреза (ВЧР), обладающая значительной неоднородностью, изменчивостью литологического состава, строения и физических свойств горных пород.

  .row.text-center
    %h3 Этапы работ

  .row
    %p Работы по проведению электроразведочных работ проходят в 2 этапа:

    %p
      %strong I этап.
      Проведение полевых работ.

    %p
      %strong II этап.
      Обработка данных с помощью специализированного программного обеспечения, построение геоэлектрических разрезов, составление отчета.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-6.png' }
      %i Проведение полевых работ

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Полученный геоэлектрический разрез', src: '/images/services/engineering-geophysics/engineering-7.jpg' }
      %i Полученный геоэлектрический разрез


    %p
      %strong В работе мы используем:

    %p широкий спектр методов проведения электроразведочных работ и анализа данных (вертикальное электрозондирование (ВЭЗ) и все его модификации, электропрофилирование (ЭП), электротомография (ЭТ)), что позволяет получать 2D и 3D геоэлектрические разрезы;

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Пример 3-D модели грунтового основания, полученной с использованием электротомографии', src: '/images/services/engineering-geophysics/engineering-8.jpg' }
      %i Пример 3-D модели грунтового основания, полученной с использованием электротомографии

    %p современное оборудование и программное обеспечение для электроразведки, позволяющее оперативно выполнять работы по электротомографии (48-электродная разведочная аппаратура, глубинность исследований — до 100 м).

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Используемое оборудование', src: '/images/services/engineering-geophysics/engineering-19.png' }
      %i Используемое оборудование

  .row
    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Примеры 1D разрезов удельного электрического сопротивления по данным вертикального электрического зондирования (ВЭЗ)', src: '/images/services/engineering-geophysics/engineering-20.png' }

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Примеры 1D разрезов удельного электрического сопротивления по данным вертикального электрического зондирования (ВЭЗ)', src: '/images/services/engineering-geophysics/engineering-21.png' }

  %p.text-center
    %i Примеры 1D разрезов удельного электрического сопротивления по данным вертикального электрического зондирования (ВЭЗ)

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Пример 2D разрезов удельного сопротивления по данным электроразведочных работ в режиме электротомографии', src: '/images/services/engineering-geophysics/engineering-22.png' }
      %i Пример 2D разрезов удельного сопротивления по данным электроразведочных работ в режиме электротомографии

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высокая квалификация и большой опыт инженерного и научного персонала являются залогом качества проводимых работ.
      %li Современное оборудование и программное обеспечение способствуют увеличению производительности, повышению качества и сокращению сроков проведения работ.
      %li Прозрачный расчёт стоимости проводимых работ.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
