---
title: Электроразведочные работы
description: '1D, 2D, 3D разрезы. ВЭЗ и электротомография'
keywords: 'Электроразведка, удельное электрическое сопротивление, диэлектрическая проницаемость, геоэлектрический разрез, вертикальное электрозондирование, ВЭЗ, электропрофилирование, ЭП, электротомография, ЭТ, 2D разрез'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Инженерная геофизика', url: '/services#engineering-geophysics' }

  .row.text-center
    %h2 Электроразведочные работы

  .row
    %p Электроразведка предназначена для решения большого круга инженерно-геологических, гидрогеологических и специальных задач и объединяет группу методов разведочной геофизики, основанных на наблюдении и изучении особенностей распределения характеристик электромагнитных полей естественного или искусственного происхождения. Применение электроразведочных методов основано на различии грунтов по электрическим свойствам (удельное электрическое сопротивление, диэлектрическая проницаемость и др.)

  .row.text-center
    %h3 Область применения

  .row
    %p
      %strong Геофизические задачи:

    %p Геофизические исследования в рамках инженерно-геологических изысканий, связанных с проектированием, строительством и эксплуатацией различных сооружений с целью сейсмического микрорайонирования территории.

    %p
      Решение задач, требующих изучения грунтовых условий на глубинах до 100 м.:
      %ul
        %li расчленение разреза на литологические слои;
        %li определение глубины залегания кровли скальных грунтов;
        %li картирование погребенных речных долин;
        %li картирование вечномерзлых грунтов;
        %li выявление и оконтуривание закарстованных зон;
        %li установление и прослеживание тектонических нарушений и зон трещиноватости;
        %li определение положения уровня грунтовых вод, направления и скорости движения подземных вод;
        %li определение коррозионной активности грунтов и наличия блуждающих токов;
        %li изучение оползневых процессов и др.


    %p Электроразведка является ведущим методом комплекса геофизических работ и в зависимости от решаемых задач и инженерно-геологических условий может применяться либо самостоятельно, либо в сочетании с другими геофизическими и инженерно-геологическими методами.

    %p Компания ГЕОФИЗТЕХ специализируется на проведении работ по электроразведке. Объектом исследований обычно является верхняя часть разреза (ВЧР), обладающая значительной неоднородностью, изменчивостью литологического состава, строения и физических свойств горных пород.

  .row.text-center
    %h3 Этапы работ

  .row
    %p Работы по проведению электроразведочных работ проходят в 2 этапа:

    %p
      %strong I этап.
      Проведение полевых работ.

    %p
      %strong II этап.
      Обработка данных с помощью специализированного программного обеспечения, построение геоэлектрических разрезов, составление отчета.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-6.png' }
      %i Проведение полевых работ

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Полученный геоэлектрический разрез', src: '/images/services/engineering-geophysics/engineering-7.jpg' }
      %i Полученный геоэлектрический разрез


    %p
      %strong В работе мы используем:

    %p широкий спектр методов проведения электроразведочных работ и анализа данных (вертикальное электрозондирование (ВЭЗ) и все его модификации, электропрофилирование (ЭП), электротомография (ЭТ)), что позволяет получать 2D и 3D геоэлектрические разрезы;

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Пример 3-D модели грунтового основания, полученной с использованием электротомографии', src: '/images/services/engineering-geophysics/engineering-8.jpg' }
      %i Пример 3-D модели грунтового основания, полученной с использованием электротомографии

    %p современное оборудование и программное обеспечение для электроразведки, позволяющее оперативно выполнять работы по электротомографии (48-электродная разведочная аппаратура, глубинность исследований — до 100 м).

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Используемое оборудование', src: '/images/services/engineering-geophysics/engineering-19.png' }
      %i Используемое оборудование

    %p Для уточнения строения грунтов по профилям сейсморазведочных работ (подтверждения уровня верхнего слоя крепкой породы) применяется электротомография. Результаты будут представлены в виде 2D-разрезов с уточнением и дополнением информации сейсмических работ информацией о пустотах, мерзлотных линзах и других неоднородностях. Профиля электроразведочных работ выбираются по линиям раскладки сейсмических кос на исследуемых участках (длина расстановки электродов 94 м, шаг между электродами 2 метра).

    %p Полевые электроразведочные работы производятся с помощью электроразведочной аппаратуры:

  .row.table-container
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th.text-center{ colspan: 2 } Технические характеристики электроразведочного оборудования "Скала-48"
      %tbody.text-left
        %tr
          %th.text-center{ colspan: 2 } Общие параметры
        %tr
          %th Количество электродов
          %td 48
        %tr
          %th Внешнее питание
          %td 12 В
        %tr
          %th Внутренний аккумулятор
          %td 12 В, 7 Ач
        %tr
          %th Сенсорный экран
          %td 5″, 240 x 128
        %tr
          %th Внутренняя память
          %td до 2 Гб
        %tr
          %th Связь с ПК
          %td USB 2.0
        %tr
          %th Степень защиты корпуса с закрытой крышкой
          %td IP 67
        %tr
          %th Степень защиты корпуса с открытой крышкой
          %td IP 54
        %tr
          %th Рабочая температура
          %td от -20 до +40 °C
        %tr
          %th Габариты
          %td 420 x 340 x 230 мм
        %tr
          %th Вес
          %td 11 кг
        %tr
          %th.text-center{ colspan: 2 } Измеритель
        %tr
          %th Число измерительных каналов
          %td 1
        %tr
          %th Входное сопротивление
          %td 10 МОм
        %tr
          %th Ширина полосы пропускания
          %td 20 Гц
        %tr
          %th Диапазон измеряемых напряжений
          %td от ±0,1 мВ до ±250 В
        %tr
          %th Ослабление помех промышленной частоты 50, 60 ГЦ
          %td 65 дБ
        %tr
          %th Точность измерения напряжения
          %td 1 %
        %tr
          %th Разрядность АЦП
          %td 24 бита
        %tr
          %th Защита от перенапряжения до
          %td 1 кВ
        %tr
          %th.text-center{ colspan: 2 } Внутренний генератор
        %tr
          %th Рабочие частоты
          %td 3,33, 0,86, 0,78, 0,74, 0,69, 0,66, 0,60 Гц
        %tr
          %th Выходной ток
          %td 1 ÷ 2000 мА
        %tr
          %th Мощность максимальная
          %td 200 Вт
        %tr
          %th Точность измерения тока
          %td 1 %
        %tr
          %th Максимальное напряжение
          %td 500 В
        %tr
          %th Защита от короткого замыкания
          %td есть

  .row
    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Примеры 1D разрезов удельного электрического сопротивления по данным вертикального электрического зондирования (ВЭЗ)', src: '/images/services/engineering-geophysics/engineering-20.png' }

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Примеры 1D разрезов удельного электрического сопротивления по данным вертикального электрического зондирования (ВЭЗ)', src: '/images/services/engineering-geophysics/engineering-21.png' }

  %p.text-center
    %i Примеры 1D разрезов удельного электрического сопротивления по данным вертикального электрического зондирования (ВЭЗ)

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Пример 2D разрезов удельного сопротивления по данным электроразведочных работ в режиме электротомографии', src: '/images/services/engineering-geophysics/engineering-22.png' }
      %i Пример 2D разрезов удельного сопротивления по данным электроразведочных работ в режиме электротомографии

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высокая квалификация и большой опыт инженерного и научного персонала являются залогом качества проводимых работ.
      %li Современное оборудование и программное обеспечение способствуют увеличению производительности, повышению качества и сокращению сроков проведения работ.
      %li Прозрачный расчёт стоимости проводимых работ.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
