---
title: Оценка параметров собственных колебаний зданий
description: 'Мониторинг технического состояния зданий и сооружений'
keywords: 'тон собственных колебаний, состояние здания, декремент затухания, моды здания'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Инженерная геофизика', url: '/services#engineering-geophysics' }

  .row.text-center
    %h2 Оценка параметров собственных колебаний зданий

  .row.text-center
    %h3 Область применения

  .row
    %p Обследование и мониторинг технического состояния зданий и сооружений


  .row.text-center
    %h3 Нормативная документация

  .row
    %p
      %li ГОСТ Р 54859-2011, Здания и сооружения. Определение параметров основного тона собственных колебаний.
      %li ГОСТ Р 53778-2010. Здания и сооружения. Правила обследования и мониторинга технического состояния.

    %p Период и логарифмический декремент основного тона собственных колебаний здания являются важными расчетными параметрами при анализе изменений напряженно-деформированного состояния здания в процессе эксплуатации, в том числе при проведении обследований и мониторинга технического состояния здания.

    %p Для определения значений периода применяют косвенный метод измерений, при котором по трем взаимно перпендикулярным осям регистрируют колебания здания, вызванные естественным динамическим природно-техногенным фоном. Значения периода (или частоты) и декремента по каждой из осей определяют расчетным методом, основанным на анализе спектров мощности колебаний здания.

    %p Суть метода заключается в одновременном измерении естественных микросейсмических колебаний здания несколькими сейсмостанциями, расположенными в разных частях здания, при этом после каждого измерения, длящегося 20-30 мин, станции перемещаются. Для определения параметров основных мод собственных колебаний здания обычно требуется 3-5 измерений.


    %p.text-center
      %img.img-responsive.service-image{ alt: 'Проведение измерительных работ', src: '/images/services/engineering-geophysics/engineering-3.jpg' }
      %i Проведение измерительных работ

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Первичные данные: сейсмограммы одновременной записи с трех станций', src: '/images/services/engineering-geophysics/engineering-4.jpg' }
      %i Первичные данные: сейсмограммы одновременной записи с трех станций

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Отображение формы колебания здания для моды с вычисленными периодом и декрементом затухания', src: '/images/services/engineering-geophysics/engineering-5.gif' }
      %i Отображение формы колебания здания для моды с вычисленными периодом и декрементом затухания

  .row.text-center
    %h3 Этапы работ

  .row
    %p Работы выполняются в 2 этапа:

    %p
      %strong I этап.
      Проведение измерительных работ в здании. Для определения параметров основных мод собственных колебаний здания простой формы обычно требуется 3-5 измерений по 20-30 минут.

    %p
      %strong II этап.
      Обработка данных с помощью специализированного программного обеспечения, выделение форм колебаний, вычисление периодов (или частот) и декрементов затухания основных мод собственных колебаний.

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высокая квалификация и большой опыт инженерного и научного персонала являются залогом качества проводимых работ.
      %li Современное оборудование и программное обеспечение способствуют увеличению производительности, повышению качества и сокращению сроков проведения работ.
      %li Прозрачный расчёт стоимости проводимых работ.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
