---
title: Разработка индивидуальной стратегии мониторинга геосреды
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Консультационные услуги', url: '/services#consulting' }

  .row.text-center
    %h2 Разработка индивидуальной стратегии мониторинга геосреды

  .row.text-center
    %h3 Область применения

  .row
    %p
      %li Эксплуатация месторождений углеводородов (континентальных, шельфовых, арктических).
      %li Эксплуатация магистральных объектов.
      %li Эксплуатация ТЭЦ, ГЭС, ГРЭС, АЭС.

  .row
    %p Согласно российским нормативно-правовым актам (СНиП 11-02-96, СНиП 11-105-97) необходимо проводить мониторинг эксплуатируемых объектов нефтегазового комплекса с целью обеспечения их соответствия экологическим требованиям, а также в целях определения соответствия физического состояния зданий и сооружений и их оснований требованиям проектной документации.

    %p Этот процесс предполагает осуществление мониторинга опасных природных и техногенных геологических процессов, таких, как землетрясения, оползни, разжижение грунта, цунами, размывы берегов, извержения вулканов (в том числе грязевых), медленные (тектонические) движения грунта; а также выполнение оценок параметров эксплуатации сооружений в режимах нагрузок, вызванных указанными явлениями. Особое внимание уделяется сейсмическим критериям проектирования.

    %p Требования учета опасных природных и техногенных геологических процессов при проектировании распространяются на морские и береговые трубопроводы, береговые технологические комплексы, компрессорные и насосные станции, заводы по производству сжиженного и природного газа, терминалы отгрузки нефти, морские добывающие платформы, системы управления и связи, трубопроводную арматуру и другие вспомогательные сооружения нефтегазового комплекса.

    %p Данная услуга предлагает выработку индивидуального плана мониторинговых работ и изысканий для оценки потенциального ущерба и опасных факторов в результате возникновения природных и техногенных катастроф, которые могут повлиять на безопасность работы объектов нефтегазового комплекса и оказать воздействие на окружающую среду, с учетом российских нормативно-правовых актов и лучших достижений из международной практики.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Область применения', src: '/images/services/consulting/consulting-5.jpg' }
      %i Область применения


  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высококвалифицированная команда авторитетных учёных сейсмологов и геофизиков - это гарантия качества аналитического материала.
      %li Привлечение профильных экспертов в области экологии и геоморфологии для полноценного оказания услуги.
      %li Уникальная база знаний и большой опыт в области консультационных услуг обеспечат лучший и точный результат.
      %li Прозрачный расчёт стоимости на каждом этапе внедрения услуги.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
