---
title: Георадарные работы
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Инженерная геофизика', url: '/services#engineering-geophysics' }

  .row.text-center
    %h2 Георадарные работы

  .row
    %p
      %strong Георадиолокация
      &mdash; неразрушающий метод исследования и контроля. Георадиолокационное (георадарное) обследование производится при помощи специального инструмента – георадара.

    %p Принцип действия георадара основывается на радиолокации: излучении и фиксации отраженных электромагнитных импульсов. Импульс производится самим георадаром и при помощи излучателя направляется в изучаемую среду, после чего, отраженный от неоднородностей или границ, улавливается приемной антенной, также находящейся на приборе.

    %p Средой может быть любой материал: грунт, бетон, кирпичная стена и пр. Среда может иметь неоднородную структуру, различные пустоты и вкрапления других материалов, что и отражает прибор. Для обнаружения объекта георадарным методом необходимо, чтобы объект заметно отличался от вмещающего грунта по электрическим характеристикам (по диэлектрической проницаемости или проводимости). В результате обследования получают непрерывный разрез той среды, в которой производится диагностика.

  .row.text-center
    %h3 Область применения

  .row
    %p
      %strong Геофизические задачи:

      %li картирование геологических структур, поиск геологических тел по их геометрии;
      %li изучение опасных геологических процессов, определение зон повышенной трещиноватости, выявление зон тектонических нарушений, поверхностей скольжения оползневых тел, пустотных характеристик геологической среды при изучении карстово-суффозионных процессов;
      %li определение геометрии и морфологии естественных и искусственных грунтов (применимо при геологическом картировании в комплексе с буровыми работами и инженерной геофизикой);
      %li картирование уровня грунтовых вод;
      %li изучение многолетнемезлых горных пород, определение мощности ледяного покрова;
      %li исследование рек, водоемов, донных отложений.

    %p
      %strong Контроль инженерных конструкций в строительстве:

      %li георадарное профилирование дорожных покрытий и взлетно-посадочных полос, полотна железных дорог и подрельсовых опор, мониторинг при строительстве;
      %li определение мощности техногенных грунтов и мощности отсыпки (востребовано для контроля фактических объемов произведенных работ и поиска захороненных отходов);
      %li контроль процесса выторфовки при строительстве на болотных системах;
      %li контроль состояния фундаментов зданий и сооружений;
      %li определение глубины забивки свай;
      %li контроль железобетонных конструкций, поиск дефектов, пустот, трещин, подсчеты шага армирования, определение толщин и пр.;
      %li определение мощности перекрытий, стен и иного конструктива;
      %li оперативный контроль состояния гидротехнических сооружений.

    %p
      %strong Поисковые задачи:

      %li определение местоположения и глубины залегания существующих подземных коммуникаций: подземных трубопроводов, кабелей, мест врезок коммуникаций;
      %li обнаружение подвальных помещений, бомбоубежищ, подземных ходов и т.п.
      %li поиск утечек продукта из трубопроводов, определение границ распространения нефтяных, углеводородных загрязнений, мест и границ захоронения отходов, %li обследование шламовых хранилищ (совместно с электроразведкой).

    %p
      %strong Археологические задачи:

      %li обнаружение локальных и площадных археологических объектов.

    %p
      %strong Нормативная документация

      %li ПНСТ 55-2015 предварительный национальный стандарт Российской Федерации «Коммуникации подземные. Определение местоположения и глубины залегания неразрушающими методами»;
      %li МИ СМК 71.12.12 Инструкция по проведению работ в области геологии с применением георадара.


    %p.text-center
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-1.jpg' }
      %i Проведение полевых работ

  .row.text-center
    %h3 Этапы работ

  .row
    %p Работы по проведению георадарного обследования проходят в 2 этапа:

    %p
      %strong I этап.
      Проведение полевых работ.

    %p
      %strong II этап.
      Обработка и анализ данных, построение разрезов, выявление границ и объектов, составление отчета.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Полученный после обработки разрез', src: '/images/services/engineering-geophysics/engineering-2.jpg' }
      %i Полученный после обработки разрез

    %p Компания Геофизтех выполняет комплекс работ по георадиолокационному (георадарному) обследованию. Объектом исследований может быть практически любая неметаллическая среда: грунт, дорожное полотно, стена и т.п. Из-за высокого поглощения радиоволн применение георадарного метода нецелесообразно в морской воде, сильнозасолённых и избыточно засолённых грунтах, во влажных и водонасыщенных глинистых грунтах, содержащих глинистые минералы с высокой проводимостью.

    %p Глубинность исследований достигает 20 м, разрешение - до нескольких сантиметров. Особенностями метода является высокая скорость работы по профилю, высокая разрешающая способность метода, позволяющая четко выявлять границы раздела сред с разной диэлектрической проницаемостью.

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высокая квалификация и большой опыт инженерного и научного персонала являются залогом качества проводимых работ.
      %li Современное оборудование и программное обеспечение способствуют увеличению производительности, повышению качества и сокращению сроков проведения работ.
      %li Прозрачный расчёт стоимости проводимых работ.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
