---
title: Мониторинг естественной и наведённой сейсмичности
description: 'Непрерывные сейсмологические наблюдения в составе геодинамического мониторинга'
keywords: 'сейсмический мониторинг, сейсмологический мониторинг, геодинамический мониторинг, техногенная сейсмичность, естественная сейсмичность, землетрясение, интенсивность землетрясения, сейсмограмма, сейсмическая станция, сейсмостанция, магнитуда, MSK64'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Сейсмический мониторинг', url: '/services#seismic-monitoring' }

  .row.text-center
    %h2 Мониторинг естественной и наведённой сейсмичности

  .row
    %p
      %strong Сейсмический мониторинг территории
      &mdash; это комплекс работ, направленный на регистрацию, обработку и анализ сейсмических сигналов естественного и техногенного происхождения. Это услуга на базе высокотехнологичных решений в области аппаратно-программного обеспечения, методов регистрации движения грунта и способов обработки зафиксированной информации. Качественная интерпретация результата позволяет наиболее эффективно реагировать на возможные риски, связанные с последствиями от сейсмических воздействий. 

    %p Результаты сейсмического мониторинга предоставляют заказчику наиболее полную картину о сейсмическом режиме и высокий уровень информационного обеспечения. Это позволяет проектировать и эксплуатировать объекты промышленной инфраструктуры с учетом циклических (повторяющихся) сейсмических воздействий заданной интенсивности в заданный промежуток времени на наблюдаемой территории.

    %p Услуга предназначена для защиты населения при чрезвычайных ситуациях (ЧС), связанных с сильными землетрясениями, обеспечение промышленной и экологической безопасности при эксплуатации нефтегазовых месторождений, купных промышленных объектов.

    %p Ключевое преимущество ГЕОФИЗТЕХ - оперативная оценка состояния зданий, сооружений и линейных объектов на базе апробированных алгоритмов расчёта сейсмических воздействий. Такой подход выглядит экономически обоснованным в тех случаях, когда количество объектов, состояние которых нужно оценивать после каждого землетрясения, насчитывает более 100 единиц. Расчёт сейсмических воздействий на объекты контроля позволяет достаточно точно оценить состояние конструкций после наступления сильного землетрясения и при этом избежать установки сейсмического датчика в каждое здание.

  .row.text-center
    %h3 Область применения

  .row
    %li Защита населения при чрезвычайных ситуациях, связанных с возникновением сильных землетрясений.
    %li Эксплуатация месторождений углеводородов (континентальных, шельфовых, арктических).
    %li Эксплуатация водохранилищ и термальных источников.
    %li Эксплуатация ТЭЦ, ГЭС, ГРЭС, АЭС.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Общая схема организации сейсмологических наблюдений', src: '/images/services/seismic-monitoring/monitoring-1.png' }
      %i Общая схема организации сейсмологических наблюдений

  .row
    %p Собранная информация подвергается глубокому анализу с целью производства информационных сообщений (срочных уведомлений, оперативных сводок, бюллетеней, каталогов, отчетов) в зависимости от специфики мониторинга.

    %p На всех этапах организации и проведения сейсмического мониторинга необходимо привлечение высококвалифицированного инженерного и научного персонала с опытом реализации проектов в области сейсмологии.


    %p.text-center
      %img.img-responsive.service-image{ alt: 'Визуализация волновых форм, поступающих в центр обработки данных в режиме реального времени', src: '/images/services/seismic-monitoring/monitoring-2.png' }
      %i Визуализация волновых форм, поступающих в центр обработки данных в режиме реального времени

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Автоматически определённые времена вступления сейсмических волн для землетрясения на севере о. Сахалин', src: '/images/services/seismic-monitoring/monitoring-3.png' }
      %i Автоматически определённые времена вступления сейсмических волн для землетрясения на севере о. Сахалин


  .row.text-center
    %h3 Значение

  .row
    %p
      %strong Важное практическое значение услуги
      &mdash; обеспечение сейсмической безопасности для устойчивой работы промышленных объектов, эксплуатации зданий и сооружений и снижение экологических рисков.

    %p Мониторинг естественной и наведённой сейсмичности выполняется для определённой локальной территории. В зависимости от масштаба наблюдаемой территории, особенностей геологической среды, климатических условий и целей мониторинга важно выполнить расчёт геометрии локальной сети сейсмических станций и подобрать надёжное специализированное оборудование. Это один из ключевых этапов внедрения услуги, существенно влияющий на итоговую стоимость.

    %p На основе разработанной геометрии локальной сейсмической сети, используемого типа регистрационного оборудования выполняются работы по организации телеметрии и внедрению информационных систем для обработки и анализа зарегистрированной сейсмической информации.

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Пример смонтированного регистрирующего оборудования в пунктах наблюдений на севере Сахалина', src: '/images/services/seismic-monitoring/monitoring-4.jpg' }

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Пример смонтированного регистрирующего оборудования в пунктах наблюдений на севере Сахалина', src: '/images/services/seismic-monitoring/monitoring-5.jpg' }

    %p.text-center
      %i Пример смонтированного регистрирующего оборудования в пунктах наблюдений на севере Сахалина

  .row.text-center
    %h3 Этапы выполнения работ

  .row
    %p Работы по организации мониторинга сейсмичности выполняются в несколько этапов.

    %p
      %strong I этап.
      Проектирование системы мониторинга. Анализ сейсмогеологических условий в пунктах наблюдений. Подбор регистрирующего оборудования.
    %p
      %strong II этап.
      Монтаж оборудования на полигоне/наблюдаемой территории. Организация телеметрии.

    %p
      %strong III этап.
      Развёртывание автоматизированной информационной системы сбора, обработки, хранения и анализа сейсмологических данных. Адаптация информационной системы для условий наблюдаемой территории. Интеграция интерфейсов информационной системы в инфраструктуру заказчика.

    %p
      %strong IV этап.
      Запуск системы мониторинга, процессов сбора, регистрации и анализа зарегистрированной информации. Формирование информационных сообщений (срочных уведомлений, оперативных сводок, бюллетеней, каталогов, отчетов). Технологическое сопровождение проекта.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Пример извещения о зарегистрированном землетрясении на севере о. Сахалин', src: '/images/services/seismic-monitoring/monitoring-6.png' }
      %i Пример извещения о зарегистрированном землетрясении на севере о. Сахалин

    %p
      Важным элементом сейсмического мониторинга является
      %strong расчёт сейсмических воздействий
      в пределах наблюдаемой территории в результате возникновения сильных землетрясений. Это позволяет спрогнозировать с высокой точностью интенсивность колебаний грунта вблизи эпицентра землетрясения. Результат таких расчётов &mdash; карта расчетной интенсивности колебаний. В процессе расчета интенсивности колебаний всегда используются местные геологические данные.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Расчёт интенсивности землетрясения для сильного землетрясения вблизи о. Кунашир', src: '/images/services/seismic-monitoring/monitoring-7.png' }
      %i Расчёт интенсивности землетрясения для сильного землетрясения вблизи о. Кунашир

    %p Информация об интенсивности колебаний, отраженная на координатной сетке, может быть затем использована для оценки потенциального ущерба путем расчета по простым параметрическим функциям ущерба, содержащимся в проектной сейсмической базе данных. Оценочные данные по ущербу от землетрясения могут быть использованы для разработки и реализации мер по ликвидации ущерба. Расчёт сейсмических воздействий позволяет дать оперативную оценку степени повреждённости зданий, сооружений, промышленных и магистральных объектов без дополнительного монтажа инженерного сейсмометрического оборудования внутри сооружений.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Экспресс оценка повреждённости зданий и сооружений в результате смоделированного сильного землетрясения', src: '/images/services/seismic-monitoring/monitoring-8.png' }
      %i Экспресс оценка повреждённости зданий и сооружений в результате смоделированного сильного землетрясения

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Полный спектр работ: поставка и монтаж регистрирующего оборудования, полевые работы, развёртывание информационных систем, интеграция решения в проектную документацию.
      %li Непрерывная техническая поддержка сейсмологического оборудования и информационных систем.
      %li Уникальные технологические разработки компании в области моделирования сейсмических воздействий, аппаратного обеспечения, ИТ-систем &mdash; это сейсмический мониторинг международного уровня.
      %li Независимый подбор оборудования: услуга не привязана к конкретным аппаратным решениям, что обеспечивает гибкий подход к выбору регистрирующего и вычислительного оборудования.
      %li Высокая квалификация инженерного персонала, большой опыт выполнения непрерывного мониторинга в сейсмически активных регионах, в том числе вблизи шельфовых нефтегазовых месторождений.
      %li Уникальная база знаний и научный персонал обеспечат лучший и точный результат при обработке зарегистрированной сейсмической информации.
      %li Интеграция с региональными и международными сейсмическими сетями, что позволяет существенно расширить возможности локальной сейсмической сети без существенных затрат.
      %li Анализ сейсмического режима и высококвалифицированные научные отчёты.
      %li Минимальный срок внедрения. Запуск услуги в течение 20 дней.
      %li Прозрачный расчёт стоимости на каждом этапе внедрения услуги.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
