---
title: Сейсморазведочные работы
keywords: 'сейсморазведка, сейсмические волны, инженерная сейсморазведка, сейсмоприемник, верхняя часть разреза, ВЧР, РСН 66-87, Скоростной разрез, годограф, МПВ, КМПВ, МОВ, ОГТ, MASW, оползневой участок'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Инженерная геофизика', url: '/services#engineering-geophysics' }

  .row.text-center
    %h2 Сейсморазведочные работы

  .row
    %p
      %strong Сейсморазведка
      &mdash; геофизический метод изучения геологических объектов с помощью упругих колебаний &mdash; сейсмических волн. Этот метод основан на том, что скорость распространения сейсмических волн зависит от свойств геологической среды, в которой они распространяются: от состава горных пород, их пористости, трещиноватости, влагонасыщенности и т.д. Неоднородность распределения этих свойств на глубине проявляется при распространении сейсмических волн в виде отражений, преломлений, рефракции, дифракции, поглощении, изменения скорости.

    %p Методика сейсморазведки основана на изучении времени пробега различных волн от пункта возбуждения до сейсмоприемников. В результате их интерпретации можно определить глубины залегания сейсмогеологических границ, их падение, простирание, скорости волн, а используя геологические данные, установить геологическую природу выявленных границ. По решаемым задачам различают глубинную, структурную, нефтегазовую, рудную, инженерную сейсморазведку.

    %p Компания ГЕОФИЗТЕХ специализируется на проведении инженерной сейсморазведки, характеризующейся глубинностью исследований до 50-100 м и разрешением до десятых долей метра. Объектом исследований обычно является верхняя часть разреза (ВЧР), обладающая значительной неоднородностью, изменчивостью литологического состава, строения и физических свойств горных пород.

  .row.text-center
    %h3 Область применения

  .row
    %p
      %strong Геофизические задачи:

    %p Геофизические исследования в рамках инженерно-геологических изысканий, связанных с проектированием, строительством и эксплуатацией различных сооружений с целью сейсмического микрорайонирования территории.

    %p
      Решение задач, требующих изучения грунтовых условий на глубинах до 50-100 м.:
      %ul
        %li определение состава и мощности рыхлых четвертичных (и более древних) отложений;
        %li выявление литологического строения массива грунтов, тектонических нарушений и зон повышенной трещиноватости и обводненности;
        %li определение глубины залегания уровней подземных вод, водоупоров и направления движения потоков подземных вод, гидрогеологических параметров грунтов и водоносных горизонтов;
        %li определение состава, состояния и свойств грунтов в массиве и их изменений;
        %li выявление и изучение геологических и инженерно-геологических процессов и их изменений;
        %li проведение мониторинга опасных геологических и инженерно-геологических процессов, изучение напряженного состояния коренных пород, выявление геодинамических явлений (карст, суффозия, оползни, обвалы, просадки и др.), представляющих опасность для будущего строительства;
        %li картирование зон многолетней мерзлоты.

    %p
      %strong Нормативная документация
      %li РСН 66-87. Технические требования к производству геофизических работ. Сейсморазведка.

  .row.text-center
    %h3 Этапы работ

  .row
    %p Работы по проведению инженерных сейсморазведочных работ проходят в 2 этапа:

    %p
      %strong I этап.
      Проведение полевых работ.

    %p
      %strong II этап.
      Обработка данных с помощью специализированного программного обеспечения, построение скоростных разрезов, уточнение сейсмичности, составление отчета.

    .col-lg-4
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-9.png' }

    .col-lg-4
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-10.png' }

    .col-lg-4
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-11.png' }

  .row
    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-12.png' }

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Проведение полевых работ', src: '/images/services/engineering-geophysics/engineering-13.png' }

    %p.text-center
      %i Проведение полевых работ

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Скоростной разрез и годограф, полученные после обработки данных', src: '/images/services/engineering-geophysics/engineering-14.png' }
      %i Скоростной разрез и годограф, полученные после обработки данных


    %p
      %strong В работе мы используем:

    %li широкий спектр методов проведения наземных сейсморазведочных работ и анализа данных (по преломленным (МПВ, КМПВ), отраженным (МОВ, ОГТ), поверхностным волнам (MASW));
    %li современное оборудование для наземной сейсморазведки (48-канальная сейсмостанция, разрешение по времени — до 0,25 мс, глубинность исследований — до 50-100 м, разрешение по глубине — до десятых долей метра);
    %li современное специализированное лицензионное программное обеспечение.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Скоростной разрез на оползневом участке', src: '/images/services/engineering-geophysics/engineering-14.png' }
      %i Скоростной разрез на оползневом участке

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высокая квалификация и большой опыт инженерного и научного персонала являются залогом качества проводимых работ.
      %li Современное оборудование и программное обеспечение способствуют увеличению производительности, повышению качества и сокращению сроков проведения работ.
      %li Большая база данных выполненных работ.
      %li Прозрачный расчёт стоимости проводимых работ.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
