---
title: Сейсмометрический контроль зданий и сооружений
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Сейсмический мониторинг', url: '/services#seismic-monitoring' }

  .row.text-center
    %h2 Сейсмометрический контроль зданий и сооружений

  .row
    %p
      %strong Сейсмометрический контроль зданий и сооружений
      &mdash; это специализированный #{link_to 'сейсмический мониторинг', '/services/seismic-monitoring-system'}, в рамках которого выполняются непрерывные наблюдения за конструкциями зданий (сооружений, крупных промышленных объектов) в целях обеспечения безопасности и предупреждения возможных негативных последствий.

    %p Методы проверки и средства обеспечения сейсмостойкости строительных конструкций опираются на накопленный многовековой фактический материал по последствиям сильных землетрясений и опыт их предотвращения или хотя бы минимизации, максимального снижения угрозы сейсмических потрясений для жизни людей, продуктов их деятельности и окружающей среды. Расчетное определение сейсмостойкости зданий и сооружений является обязательным этапом при проектировании новых видов или модификаций существующих конструкций оборудования в сейсмостойком исполнении [п. 4.8 СП 14.13330.2014 (Строительство в сейсмических районах СНиП II-7-81*) и Градостроительного кодекса Российской Федерации для производственных объектов I и II класса опасности]. Этими же кодами определяется, что сейсмометрический контроль зданий и сооружений является обязательным для объектов с повышенным уровнем ответственности. К таковым относятся гидротехнические сооружения, электростанции, объекты нефтегазового комплекса, а также школы, больницы и т.д.

    %p Действующими строительными нормами и правилами определяется подход по обеспечению сейсмостойкого исполнения конструкций по уровню ответственности. Так к нормальным и ответственным объектам предъявляются следующие требования: конструкция должна выдержать сейсмические нагрузки одного максимального землетрясения и нескольких проектных землетрясений, при этом жизнедеятельность конструкции не должна быть нарушена.

    %p Непрерывный сейсмометрический контроль зданий и сооружений призван определять текущие сейсмические нагрузки на конструкции и сравнивать их со значениями, заложенными при проектировании. Даже при относительно слабых сейсмических воздействиях могут появляться визуально неидентифицируемые дефекты, которые могут привести к разрушению конструкции. Наличие таких дефектов приводит к изменению формы спектра реакции сооружения, что позволяет обнаружить их на ранних стадиях развития.

    %p Основными целями настоящей услуги являются обеспечение защиты жизни и здоровья населения и сведение к минимуму последствий от сейсмических воздействий на здания и инженерные сооружения, учет сейсмогеологической обстановки.

    %p Для выполнения работ на объектах будет развёрнута современная система сейсмометрического контроля, обеспечивающей безопасность объектам жизнедеятельности и промышленным объектам, экономическую целесообразность и полное соответствие строительным нормам и правилам РФ [п. 4.8 СП 14.13330.2014 (Строительство в сейсмических районах СНиП II-7-81*) и Градостроительного кодекса Российской Федерации для производственных объектов I и II класса опасности].

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Рекомендации по расположению датчиков сейсмометрического контроля от Строительного исследовательского института Цукубы', src: '/images/services/seismic-monitoring/monitoring-19.png' }
      %i Рекомендации по расположению датчиков сейсмометрического контроля от Строительного исследовательского института Цукубы

  .row.text-center
    %h3 Область применения

  .row
    %li Защита населения при чрезвычайных ситуациях, связанных с сейсмической и техногенной активностью.
    %li Эксплуатация зданий и сооружений в сейсмически активных регионах.
    %li Эксплуатация крупных промышленных объектов: нефтяные платформы, заводы, ТЭЦ, ГЭС, ГРЭС, АЭС.
    %li Развитие технологий сейсмостойкого строительства.

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Повреждение зданий и сооружений в результате Невельского землетрясения 02 августа 2007 г. Мw=6.2', src: '/images/services/seismic-monitoring/monitoring-16.jpg' }

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Повреждение зданий и сооружений в результате Невельского землетрясения 02 августа 2007 г. Мw=6.2', src: '/images/services/seismic-monitoring/monitoring-17.jpg' }

    %p.text-center
      %i Повреждение зданий и сооружений в результате Невельского землетрясения 02 августа 2007 г. Мw=6.2


    %p После возникновения сильного землетрясения необходимо максимально быстро получить точную оценку состояния конструкций здания для оперативной оценки структурной целостности сооружения. Для этого в здания устанавливается специализированное недорогое регистрирующее оборудование (акселерометры).

    %p Данные о движении конструкций здания непрерывно регистрируются и передаются в центр обработки данных. Инструментально зафиксированные данные позволяют инженерам своевременно оценить безопасность и функциональность конструкций здания. Кроме этого, зарегистрированные данные имеют важное значение для проектирования и разработки новых безопасных конструкций.


    %p Сейсмометрический контроль позволяет:

    %li получить оценку состояния конструкций здания немедленно после возникновения землетрясения (~10 сек);
    %li определить насколько повреждены несущие конструкции и вспомогательные конструкции (трубы, оборудование) в результате сильных движений грунта;
    %li оценить и улучшить существующие технологии сейсмостойкого строительства для предотвращения повреждений зданий в результате землетрясений.

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Недорогое надёжное регистрирующее оборудование для монтажа в зданиях.
      %li Независимый подбор оборудования: услуга не привязана к конкретным аппаратным решениям, что обеспечивает гибкий подход к выбору регистрирующего и вычислительного оборудования.
      %li Полный спектр работ: поставка и монтаж регистрирующего оборудования, развёртывание информационных систем, интеграция решения в проектную документацию.
      %li Непрерывная техническая поддержка регистрирующего оборудования и информационных систем.
      %li Уникальная база знаний и высококвалифицированный инженерный персонал обеспечат лучший и точный результат при обработке зарегистрированной информации.
      %li Минимальный срок внедрения. Запуск услуги от 3-х месяцев.
      %li Прозрачный расчёт стоимости на каждом этапе внедрения услуги.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
