---
title: Сейсмометрический контроль зданий и сооружений
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Сейсмический мониторинг', url: '/services#seismic-monitoring' }

  .row.text-center
    %h2 Сейсмометрический контроль зданий и сооружений

  .row
    %p
      %strong Сейсмометрический контроль зданий и сооружений
      &mdash; это специализированный #{link_to 'сейсмический мониторинг', '/services/seismic-monitoring-system'}, в рамках которого выполняются непрерывные наблюдения за конструкциями зданий (сооружений, крупных промышленных объектов) в целях обеспечения безопасности и предупреждения возможных негативных последствий.

  .row.text-center
    %h3 Область применения

  .row
    %li Защита населения при чрезвычайных ситуациях, связанных с сейсмической и техногенной активностью.
    %li Эксплуатация зданий и сооружений в сейсмически активных регионах.
    %li Эксплуатация крупных промышленных объектов: нефтяные платформы, заводы, ТЭЦ, ГЭС, ГРЭС, АЭС.
    %li Развитие технологий сейсмостойкого строительства.

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Повреждение зданий и сооружений в результате Невельского землетрясения 02 августа 2007 г. Мw=6.2', src: '/images/services/seismic-monitoring/monitoring-16.jpg' }

    .col-lg-6
      %img.img-responsive.service-image{ alt: 'Повреждение зданий и сооружений в результате Невельского землетрясения 02 августа 2007 г. Мw=6.2', src: '/images/services/seismic-monitoring/monitoring-17.jpg' }

    %p.text-center
      %i Повреждение зданий и сооружений в результате Невельского землетрясения 02 августа 2007 г. Мw=6.2


    %p После возникновения сильного землетрясения необходимо максимально быстро получить точную оценку состояния конструкций здания для оперативной оценки структурной целостности сооружения. Для этого в здания устанавливается специализированное недорогое регистрирующее оборудование (акселерометры).

    %p Данные о движении конструкций здания непрерывно регистрируются и передаются в центр обработки данных. Инструментально зафиксированные данные позволяют инженерам своевременно оценить безопасность и функциональность конструкций здания. Кроме этого, зарегистрированные данные имеют важное значение для проектирования и разработки новых безопасных конструкций.


    %p Сейсмометрический контроль позволяет:

    %li получить оценку состояния конструкций здания немедленно после возникновения землетрясения (~10 сек);
    %li определить насколько повреждены несущие конструкции и вспомогательные конструкции (трубы, оборудование) в результате сильных движений грунта;
    %li оценить и улучшить существующие технологии сейсмостойкого строительства для предотвращения повреждений зданий в результате землетрясений.

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Недорогое надёжное регистрирующее оборудование для монтажа в зданиях.
      %li Независимый подбор оборудования: услуга не привязана к конкретным аппаратным решениям, что обеспечивает гибкий подход к выбору регистрирующего и вычислительного оборудования.
      %li Полный спектр работ: поставка и монтаж регистрирующего оборудования, развёртывание информационных систем, интеграция решения в проектную документацию.
      %li Непрерывная техническая поддержка регистрирующего оборудования и информационных систем.
      %li Уникальная база знаний и высококвалифицированный инженерный персонал обеспечат лучший и точный результат при обработке зарегистрированной информации.
      %li Минимальный срок внедрения. Запуск услуги от 3-х месяцев.
      %li Прозрачный расчёт стоимости на каждом этапе внедрения услуги.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
