@font-face {
  font-family: 'Open Sans Light';
  src: url('/fonts/OpenSans/Light/OpenSansLight.eot');
  src: url('/fonts/OpenSans/Light/OpenSansLight.eot?#iefix') format('embedded-opentype'),
       url('/fonts/OpenSans/Light/OpenSansLight.woff') format('woff'),
       url('/fonts/OpenSans/Light/OpenSansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans/Regular/OpenSansRegular.eot');
  src: url('/fonts/OpenSans/Regular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/OpenSans/Regular/OpenSansRegular.woff') format('woff'),
       url('/fonts/OpenSans/Regular/OpenSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('/fonts/OpenSans/SemiBold/OpenSansSemiBold.eot');
  src: url('/fonts/OpenSans/SemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/OpenSans/SemiBold/OpenSansSemiBold.woff') format('woff'),
       url('/fonts/OpenSans/SemiBold/OpenSansSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
