.footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  padding-top: 5%;

  a > img {
    max-height: 30px;
  }

  .left-part {
    order: 1;
  }

  .central-part {
    align-items: center;
    display: flex;
    flex-direction: column;
    order: 2;
   }

  .right-part {
    order: 3;
  }

  .copyright {
    margin-top: 10px;
    order: 4;
  }

  .long-title {
    font-size: 16px;
  }

  .slogan {
    color: $slogan;
  }

  .social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

    a {
      color: $inactive-link;
      font-family: $open-sans-semibold;
      margin-left: 5%;
      margin-right: 5%;

      &:hover {
        color: $active-link;
      }

      &.active-link {
        color: $active-link;
      }
    }

    @media (min-width: 1680px) {
      display: none;
    }
  }

  @media #{$mobile-size} {
    .left-part {
      order: 2;
      text-align: center;
    }

    .central-part {
      margin-bottom: 5%;
      order: 1;
    }

    .right-part {
      align-items: flex-start;
      order: 3;
      text-align: center;
    }
  }
}
