.footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  padding-top: 5%;

  a > img {
    max-height: 30px;
  }

  .left-part {
    order: 1;
  }

  .central-part {
    align-items: center;
    display: flex;
    flex-direction: column;
    order: 2;
   }

  .right-part {
    order: 3;
  }

  .copyright {
    margin-top: 10px;
    order: 4;
  }

  .long-title {
    font-size: 16px;
  }

  .slogan {
    color: $slogan;
  }

  @media #{$mobile-size} {
    .left-part {
      order: 2;
      text-align: center;
    }

    .central-part {
      margin-bottom: 5%;
      order: 1;
    }

    .right-part {
      align-items: flex-start;
      order: 3;
      text-align: center;
    }
  }
}
