// Links
a,
a:hover {
  color: $active-link;
  cursor: pointer;
  text-decoration: none;
}

.svg-arrow {
  margin-left: 1%;
}

.phone {
  color: $body-color;

  &:hover {
    color: $body-color;
  }
}
