h2 {
  align-self: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

.table {
  align-self: center;
  width: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
