h2 {
	align-self: center;
	margin-bottom: 3%;
	margin-top: 3%;
}

.table {
	align-self: center;
  width: auto;
}

.table-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
