%meta{ charset: 'utf-8' }
%meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%meta{ content: 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
%meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
