%meta{ charset: 'utf-8' }
%meta{ content: 'ie=edge', http: { equiv: 'x-ua-compatible' } }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
%meta{ name: 'yandex-verification', content: '9ceee6cadd47da98' }

- if current_page.data.keywords
  %meta{ name: 'keywords', content: current_page.data.keywords }

- if current_page.data.description
  %meta{ name: 'description', content: current_page.data.description }
