---
title: Реквизиты
description: 'Регистрацонные данные и банковские реквизиты'
extra_css:
  - banking_information
---

.container.no-padding.table-container
  %h2 Реквизиты
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th.text-center{ colspan: 2 } Общая информация

    %tbody.text-left
      %tr
        %th Полное наименование
        %td Общество с ограниченной ответственностью «Геофизические технологии»

      %tr
        %th Сокращенное наименование
        %td ООО «ГЕОФИЗТЕХ»

      %tr
        %th Директор
        %td Манайчев Константин Александрович, действующий на основании Устава

      %tr
        %th ИНН
        %td 6501266027

      %tr
        %th КПП
        %td 650101001

      %tr
        %th ОГРН
        %td 1146501005276

      %tr
        %th Юридический адрес
        %td 693022, Сахалинская область, г. Южно-Сахалинск, ул. Науки, 1Б

      %tr
        %th Почтовый адрес
        %td 693022, Сахалинская область, г. Южно-Сахалинск, ул. Науки, 1Б

      %tr
        %th Фактический адрес
        %td
          693006, Сахалинская область, г. Южно-Сахалинск, ул. Пуркаева 116, офис 704
          %br (торгово-офисный центр "Меридиан")

      %tr
        %th Телефон
        %td= link_to '8 (800) 500-11-69 (добавочный 9010)', 'tel:+78005001169', class: 'phone'

      %tr
        %th Email
        %td= link_to 'office@geophystech.ru', 'mailto:office@geophystech.ru'

      %tr
        %th.text-center{ colspan: 2 } Банковские реквизиты

      %tr
        %th Банк
        %td АО «Тинькофф Банк»

      %tr
        %th Юридический адрес банка
        %td 123060, Москва, 1-й Волоколамский проезд, д. 10, стр. 1

      %tr
        %th ИНН банка
        %td 7710140679

      %tr
        %th Расчётный счёт
        %td 40702810010000170010

      %tr
        %th Корреспондентский счет
        %td 30101810145250000974

      %tr
        %th БИК банка
        %td 044525974
